/* 
 * @theme minimal
 * @auto-scaling true
 */
/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

header,
footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
}

header {
  top: 0;
  padding: 12px;
  height: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
}

footer {
  bottom: 0;
  padding: 12px;
  height: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
}

section {
  padding: 67px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  color: black;
  background-color: white;
}

section h1 {
  font-size: 2.5em;
  color: black;
}
section h1:first-of-type {
  margin-top: 17%;
}
section h2 {
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.5);
}
section h1,
section h2 {
  text-align: center;
}
section h3 {
  font-size: 1.6em;
}
section h4 {
  font-size: 1.4em;
}
section h5 {
  font-size: 1.2em;
}
section h6 {
  font-size: 1em;
}
section h3,
section h4,
section h5,
section h6 {
  border-bottom: none;
  margin-bottom: 21px;
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  font-weight: inherit;
}

section hr {
  height: 0;
  padding-top: 0.25em;
}

section ul,
section ol {
  text-align: left;
}
section ul li,
section ol li {
  margin: 27px;
  font-size: 1.5em;
}
section ul li li,
section ol li li {
  font-size: 90%;
}
section ul {
  list-style-type: square;
}

section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

section a {
  color: blue;
  text-decoration: underline;
}

section blockquote {
  border-left: 13px solid black;
  padding-left: 13px;
  margin: 5px;
  color: rgba(0, 0, 0, 0.75);
}

section table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
section table tr {
  background-color: white;
}
section table th,
section table td {
  padding: 12px;
}
section table td {
  border-top: 1px solid black;
}

section pre {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 5px;
}
section pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}
section pre code svg[data-marp-fitting=svg] {
  max-height: calc(580px - 1em);
}

section::after {
  position: absolute;
  padding: 12px;
  height: 20px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
}

/*# sourceMappingURL=minimal.css.map */
